/SpringBootMybatisBase/gradle
/SpringBootMybatisBase/logs
/SpringBootMybatisBase/.classpath
/SpringBootMybatisBase/.gradle
/SpringBootMybatisBase/bin
/SpringBootMybatisBase/build
/BaseSpringBootProject/logs
/BaseSpringBootProject/.classpath
/BaseSpringBootProject/.gradle
/BaseSpringBootProject/bin
/BaseSpringBootProject/build
/BaseSpringBootProject/gradle
