<div class="index" ng-controller="IndexCtrl">
  <div class="div-main">
    <div class="text-center">
      <a href=" " target="_blank">首页</a>
      <a href="/#!/route/page/demo" target="_blank">测试一</a>
      <a href="/#!/route/page/admin/index" target="_blank">测试二</a>
      <a href="/#!/route/page/admin/data" target="_blank">登录</a>
      <a href="/#!/route/page/pageinfo/index" target="_blank">商城</a>
    </div>
    <img src="images/UnderConstruction.jpg" class="img-responsive center-block" />
  </div>
</div>
