<div class="admin-index" ng-controller="AdminIndexCtrl">
  <div class="main text-center">
    <span class="btn btn-primary" ng-click="dialog01();">对话框01</span>
    <span class="btn btn-primary" ng-click="dialog02();">对话框02</span>
    <span class="btn btn-primary" ng-click="dialog03();">对话框03</span>
    <span class="btn btn-primary" ng-click="dialog04();">对话框04</span>
    <span class="btn btn-primary" ng-click="dialog05();">对话框05</span>
    <span class="btn btn-primary" ng-click="dialog06();">对话框06</span>
    <div ng-bind="cdata"></div>
  </div>
</div>
